button{
    display: flex;
    margin-left: 5px;
}

.icon1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
}
.icon2 {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 17px;
}
.icon3 {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 17px;
}
.icon4 {
    margin-left: 15px;
    font-size: 17px;
}

.foot{
    display: none;    
}
.cards:hover + .foot {
    display: block;
}
mat-card {
    padding: 5px;
}

h2{
    margin:0px;
    margin-top: 3px;
}
.category{
    background-color: rgb(182, 180, 180);
    border-radius: 25px;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}